html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

header {
	background-color: #008282;
	text-align: center;
}

footer {
	background-color: #008282;
	position: absolute;
	bottom: 0;
	width: 100%;
}

nav {
	display: inline-block;
	position: absolute;
	top: 3.5%;
	right: 5%;
	width: 20%;
}

h1 {
	display: inline-block;
}

a {
	text-decoration: none;
	color: black;
}

nav a {
	color: white;
	border: solid white 1px;
	padding: 3% 15% 5% 15%;
	border-radius: 10px;
}

nav a:hover {
	color: black;
	border: solid white 1px;
	background-color: white;
}

.form {
	width: 25%;
	margin: auto;
	margin-top: 10%;
}

.form a {
	display: inline-block;
	margin: auto;
	width: 25%;
	min-width: 60px;
	padding: 2% 5% 2% 5%;
	border: solid black 1px;
	border-radius: 10px;
	text-align: center;
	color: white;
	background: #008683;
}

.form a:hover {
	background: white;
	color: black;
}

.box {
	border: solid black 1px;
	border-radius: 8px;
	width: 25%;
	height: 25%;
	margin: auto;
	margin-top: 10%;
}